html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*, *::before, *::after {
    color: #291B00
}

h1, h2, h3, p {
    margin: 0;
    
}

h1 {
    color:#FCAB10;
    font-size: 48px;
}
h2, h3, p {
    font-family: 'Abel', sans-serif;
    color: #291B00
}

.main-container p {
    padding: 1rem;
}

.main {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-rows: 150px;
    min-height: 100vh;
}
.sidebar-header {
    padding: 12px 0 12px 1px;
    font-family: 'Baumans', display;
    text-align: right;
}

img.logo-icon {
    width: 3rem;
    padding: 0 0 0 12px;
    
    
}
img.logo-icon:hover {
    animation: shake ease-in-out 0.3s
}

.logo-wrapper {
   transition: transform .5s ease-in-out;
   position: relative;
    top: 15px;
}

.logo-wrapper:hover {
    transform: scale(1.2);
}
.sidebar-container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap:24px;
    padding: 8px;
    overflow: hidden;
    background-color: #FFF8EB;
    position: relative;
    z-index: 2;
}
.sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 1px solid #FCAB10;
    border-radius: 12px;
    background-color: #FCAB10;
    padding: 8px;
}

.sidebar-item-empty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.item-wrapper {
    transition: transform 0.5s ease;
    font-size: 1.2rem;
}

.item-wrapper:hover {
    transform: scale(1.2);

}

.sidebar-item p:hover, .sidebar-item p:focus {
    
    animation: shake ease-out .3s;

}
@keyframes shake {
    0%   { transform: rotate(0); }
    25%  { transform: rotate(3deg); }
    50%  { transform: rotate(-3deg); }
    75%  { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 5px 10px -5px grey;
    position: relative;
    z-index: 1;
    background-color: #FFF8EB
}

.header-pfp {
    border: 3px solid black;
    border-radius: 64px;
    padding: 2px;
    background-color: white;
}
.header-icon {
    width: 3rem;
}
.profile-message > * {
    padding: 2px 0;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 12px 120px 0px 24px;
    gap: 24px;
    align-items: center;
}
.bottom-header {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    padding: 0px 100px 12px 24px;
    align-items: center;
}
.header-side {
    display: flex;
    margin-left: auto;
    gap: 48px;
    align-items: center;
}

.side-buttons {
    background-color: #9CDCE7 ;
    border-radius: 24px;
    padding: 0.7rem 1.2rem;
    transition: transform 0.5s, background-color 0.5s;
}

.side-buttons:hover {
    transform: scale(1.2);
    background-color: #2B9EB3;
}
.searchbar {
    background: linear-gradient(to right, #2B9EB3, #9CDCE7);
    width: 40rem;
    height: 1.75rem;
    border-radius: 16px;
}
.profile-message {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 4px 6px;

}
.main-content-header-first {
    padding: 24px 0 0 24px;
    max-height: 2rem;
}

.main-content-header-second {
    background-color: #FDC55D;
    padding: 0px 0px 12px 0px;
}

.announcement {
    padding: 0px;
    border-bottom: 1px solid lightgrey;
    margin: 0 1rem;
}
.announcement-last {
    padding: 0px;
    margin: 0 1rem;
}

.trending {
    background-color: #FDC55D;
    padding: 24px 0 12px 0;}

img.icon {
    width: 2rem;
    padding: 0 0 0 12px;
}

img.pfp {
    width: 4rem;

}

.main-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-color: #FCAB10;

}
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-content-bar {
    flex-shrink: 1;
    padding: 24px;
    background-color: #FDC55D;
}
.main-content-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 24px;
    flex-grow: 2;
    padding: 12px 24px 24px 24px;
}

.grid-cell {
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    border-left: 6px solid #2B9EB3;
}
.main-content-grid > * {
    background-color: white;

}

div.share-icon {
    display: flex;
    justify-content: center;     
    align-items: center;
    transition: transform 0.5s;
    transform-origin: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 8px 8px auto;

}

div.share-icon:hover {
    transform: scale(1.2);
}
svg.share-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    fill: black;
    transition: fill 0.5s ease-out;
}
svg.share-icon:hover {
    fill: white;
    
}
div.share-icon {
    display: flex;
    justify-content: flex-end;
}

.bar-box {
    background-color: white;
    border-radius: 8px;
    margin-top: auto;
    min-height: 100;
}

.trending-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.trending-item img.pfp {
    padding: 0 0 0 12px;

}

